<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Time Transac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B71C4F81EE6836800746DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B71C50C1EE6836800746DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B71C5171EE6836800746DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
